<form id="createReviewForm" action="/api/profile" method="POST" class="container">
  <div class="form-floating">
    <input
      name="title"
      type="text"
      class="form-control"
      id="titleInput"
      placeholder="title"
    />
    <label for="titleInput">Title: </label>
  </div>
  <div class="form-floating">
    <textarea
      name="review_content"
      type="form"
      class="form-control"
      id="reviewInput"
      placeholder="name@example.com"
    ></textarea>
    <label for="review_content">Review: </label>
  </div>
  <button
    id="submitReviewBtn"
    class="mt-3 w-50 text-center btn btn-lg btn-success"
    type="submit"
  >Submit Review!</button>
</form>
