<header class="my-4">
  <button id="signupBtn" class="btn btn-primary m-4 align-right">Sign in</button>
  <h1 id="achievement" class="text-center">Achievement Unlocked</h1>

</header>
<nav class="navbar navbar-expand-md bg-body-tertiary my-5">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Profile</a>
        <a class="nav-link" href="#">News and Releases</a>
        <a class="nav-link" href="#">Discussion</a>
      </div>
    </div>
  </div>
</nav>
<div>{{playerData.players.steamid}}</div>
<main>
  <section id="topRow" class="container">
    <div class="row">
      <div class="card container" style="width: 18rem">
        <img
          src="http://via.placeholder.com/640x360"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card container" style="width: 18rem">
        <img
          src="http://via.placeholder.com/640x360"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card container" style="width: 18rem">
        <img
          src="http://via.placeholder.com/640x360"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card container" style="width: 18rem">
        <img
          src="http://via.placeholder.com/640x360"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col">
      <div class="row m-4">
        <img
          src="http://via.placeholder.com/640x360"
          class="card-img-top"
          alt="..."
        />
      </div>
      <div class="row m-4">
        <img
          src="http://via.placeholder.com/640x360"
          class="card-img-top"
          alt="..."
        />
      </div>
    </div>
    <div class="col">
      <div class="row m-4">
        <div class="col">
          <img
            id="blogPostImage"
            src="http://via.placeholder.com/360x640"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="col">
          <img
            src="http://via.placeholder.com/360x640"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
    </div>
  </section>
</main>