<main>
    {{#each reviews as |review|}}
  {{#if review.reviews}}
  {{#each review.reviews as |review|}}
  <div id="testDiv">
  <h2>{{review.title}}</h2>
  <p>{{review.review_content}}</p>
</div>
  {{/each}}
  {{/if}}
  {{/each}}
</main>