<div class="card container">
  {{#each reviews as |review|}}
    {{#if review.reviews}}
      {{#each review.reviews as |review|}}
        <h1>{{review.reviews.user.username}}</h1>
        <h2>{{review.title}}</h2>
        <p>{{review.review_content}}</p>
        <hr />
      {{/each}}
    {{/if}}
  {{/each}}
</div>