<div id="userProfile" class="container card col-3">
  <div class="card-header">
    {{reviews}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Games: {{User.numGames}}</li>
    <li class="list-group-item">Bans: {{User.banStatus}}</li>
    <li class="list-group-item">More stuff</li>
  </ul>
</div>