

<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <h1>User Profile</h1>
  <h2>{{ playerData.personaname }}</h2>
  <img src="{{ playerData.avatarfull }}" alt="Profile Picture">
  <p>Steam ID: {{ playerData.steamid }}</p>
  <p>Profile URL: {{ playerData.profileurl }}</p>
</body>
</html>
