<main>
    {{#each userProfile as |userProfile|}}
  {{#if userProfile.userProfile}}
  {{#each userProfile.userProfile as |userProfile|}}
  <div id="profile">
  <h2>{{review.title}}</h2>
  <p>{{review.review_content}}</p>
</div>
  {{/each}}
  {{/if}}
  {{/each}}
</main>