<div id="post" class="container card">
    <h1 id="postTitle">{{Post.title}}</h1>
    <section id="postContent" class="container">
        <div>
            <p>{{Post.post_content}}</p>
        </div>
        <div id="userProfileInfo" class="container">
            <p>{{Post.author}}</p>
        </div>
    </section>
</div>
