<!DOCTYPE html>
<html>
<head>
  <title>Posts</title>
</head>
<body>
  <h1>Posts</h1>
  
  {{#each posts}}
  <div id="post" class="container card">
    <h1 id="postTitle">{{title}}</h1>
    <section id="postContent" class="container">
        <div>
            <p>{{post_content}}</p>
        </div>
        <div id="userProfileInfo" class="container">
            <p>{{author}}</p>
        </div>
    </section>
  </div>
  {{/each}}
  
</body>
</html>