<!DOCTYPE html>
<html>
<head>
  <title>Steam Profile</title>
</head>
<body>
  <h1>Steam Profile</h1>
  <h2>{{ userProfile.personaname }}</h2>
  <img src="{{ userProfile.avatarfull }}" alt="Profile Picture">
  <p>Steam ID: {{ userProfile.steamid }}</p>
  <p>Profile URL: {{ userProfile.profileurl }}</p>
</body>
</html>